@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?zmfd8');
    src: url('../fonts/icomoon.eot?zmfd8#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?zmfd8') format('truetype'),
        url('../fonts/icomoon.woff?zmfd8') format('woff'),
        url('../fonts/icomoon.svg?zmfd8#icomoon') format('svg');
    font-style: normal;
    font-weight: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
    content: "\e900";
}
