@import url('normalize.css');
@import url('skeleton.css');
@import url('icons.css');

blockquote {
    border-left: 2px solid;
    margin: 20px;
    padding: 10px;
}

blockquote:before {
    content: '”';
    font-family: inherit;
    font-size: 3.875rem;
    left: -40px;
    position: absolute;
    top: -20px;
}

blockquote p:first-of-type {
    margin-top: 0;
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

@media (max-width:683px) {
    blockquote {
        margin: 10px;
        padding: 10px;
    }
}
